$font-size-1rem: 1rem;
@mixin box($size){
    min-height: $size;
    min-width: $size;
    max-height: $size;
    max-width: $size;
}

body{
    background-color: white;
}
nav{
    background: white;
    z-index: 1000;
}
nav a{
    color: darkgrey !important;
}
.bg-pattern{
    background:url('../images/bg-pattern.png'),linear-gradient(to left,#7b4397,#dc2430);
}
.brand-logo{
    font-size: 20px !important;
    font-weight: bold !important;
    padding: 0px 10px !important;
}
.description
{
    font-size: $font-size-1rem;
}

.row-section
{
    margin-bottom: 0px !important;
}

.section-heading
{
    padding: 50px 0px 100px 0px !important;
}

.icon-box
{
    @include box(75px);
    float: left;
    margin-top: -50px;
}

.icon-box.card-content
{
    max-width: 73px !important;
}

.icon-box i
{
    font-size: 30px !important;
}

.card-technology
{
    min-height: 100px !important;
}

.card-technology h5
{
    color: darkgray !important;
    font-size: 18px !important;
    font-weight: bold !important;
}

.row-technology
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.portfolio-content h5
{
    width: 100% !important;
    font-size: 16px !important;
    font-weight: bold;
}

.portfolio-content i
{
    width: 100% !important;
    font-size: 40px !important;
    font-weight: bold;
}

.btn-social
{
    background-color: none !important;
    padding: 2px 10px !important;
}

@media only screen and (max-width:600px){
    .brand-logo{
        font-size: 16px !important;
        left: 35% !important;
    }

    .sidenav-trigger{
        float: left;
        margin-top: -55px !important;
        margin-left: -20px !important;
        z-index: 2000;
    }

    nav{
        padding-left: 10% !important;
    }

    #technology
    {
        padding: 20px !important;
    }

    .section-heading{
        padding: 20px 0 30px 0!important
    }
}